
.formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .title_form{
        margin-top: 5vh;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
    }
}
.title_campos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width:30vw;
    padding: 10vh 0 5vh 0;
    .title{
        color:#005695;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
    }
}
.campos{
    margin: 10vh 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 32vw;
    background-color: transparent;
    border: 3px solid #005695 ;
    border-radius: 20px;
}

.input_doar input{
    display: flex;
    margin-top: 5vh;
    border: solid 2px #005695;
    border-radius: 15px;
    height: 7vh;
    width: 23vw;
    padding: 0 2vw;
    outline: none;
}

button{
    margin: 10vh 0 10vh 0;
    height: 8vh;
    width: 14vw;
    background-color: #005695;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
    border:none;
    font-weight: normal;
}

@media (min-width: 300px) and (max-width: 900px){
    .campos{
        width: 90%;
    }
    .title_campos{
        width: auto;
    }
    .input_doar input{
        width: 80vw;
    }
    button{
        width: 80vw;
    }
}