.banner{
    background-image: url('../../assets/img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:88vh;
    display: flex;
    align-items: center;
    .title_inicio{
        font-family: "Roboto", sans-serif;
        color: #FFFFFF;
        font-size: 2.34vw;
        padding-left: 150px ;
        width: 35vw;
    }
}

.title_cards {
    color: #005695;
    padding-left: 11vw;
    padding: 7vw;
    font-size: 3vw;
}

.cards {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 200px;
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 286px;
        height: 321px;
        background: #0157944D;
        border-radius: 10px;
        position: relative;
        padding-bottom: 10vh;
        p{
        position: absolute;
        padding: 230px 50px 0 50px;
        }    
    }   
}

@media (min-width: 300px) and (max-width: 900px){
    .cards{
        flex-direction: column;
        article{
            margin: 2vh 0;
        }
    }
    .title_cards{
        font-size: 7vw;
        text-align: center;
    }
    .banner{
        height:352px;
        justify-content: center;
        .title_inicio{
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 28px;
            width: 285px;
            padding-left: 0;
        }
    }
}