.title_doados{
    color:#000000;
    text-align: center;
    padding-top: 50px;
}

.grid_doados article{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 3px #005695;
    border-radius: 20px;
    padding: 50px;
    width: 80%;
    height: 100%;
    .book_title {
        padding-top: 50px;
    }
    p{
        padding-top: 10px;
    }
    img{width: 70%;
        height: 40%;
    }
}
.grid_doados{
    display: grid;
    gap: 10vh 25vh;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    padding: 50px 3vw;
    width: 100%;
}

.doados{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    min-height: 40vh;
}

@media (min-width: 300px) and (max-width: 1060px){
    .grid_doados{
        display: flex;
        flex-direction: column;
        gap: 10vh 25vh;
        padding: 50px 3vw;
        width: 100%;
    }
}

@media (min-width: 1060px) and (max-width: 2028px){
    .grid_doados{
        gap: 10vh 3vh;
        grid-template-columns: repeat(3, 1fr);
    }
}